In [23]:
import pickle
import pandas as pd

In [66]:
with open('WESAD2/All_ID.pkl', 'rb') as file:
        data = pickle.load(file, encoding='latin1')

In [67]:
data

{'data': {'ACC': array([[[  126.32624263, -1012.3755119 ,  1296.16359523],
          [  233.10128359,  -738.13483315,   636.76661552],
          [  411.0596852 ,  -738.13483315,  1024.64719182],
          ...,
          [  138.19013607,  -772.414918  ,  1024.64719182],
          [   78.87066887,  -772.414918  ,  1024.64719182],
          [   67.00677543,  -601.01449378,  1218.58747997]],

         [[   90.73456231,  -669.57466347,   636.76661552],
          [   78.87066887,  -635.29457863,   636.76661552],
          [  114.46234919,  -601.01449378,   753.13078841],
          ...,
          [  -16.04047865,  -635.29457863,  1179.79942234],
          [  -16.04047865,  -601.01449378,  1141.01136471],
          [  -27.90437209,  -635.29457863,  1218.58747997]],

         [[  -27.90437209,  -498.17423926,  1218.58747997],
          [  -63.49605241,  -498.17423926,  1179.79942234],
          [  -27.90437209,  -498.17423926,  1102.22330708],
          ...,
          [  -27.90437209,  -669.57466347,  1218.58747997],
          [  -27.90437209,  -635.29457863,  1218.58747997],
          [  -27.90437209,  -635.29457863,  1218.58747997]],

         ...,

         [[   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116],
          ...,
          [   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116]],

         [[   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116],
          ...,
          [   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116]],

         [[   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116],
          ...,
          [   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116]]]),
  'BVP': array([[[ 13.5708015 ],
          [ 13.1440063 ],
          [ 13.03286172],
          ...,
          [-91.53640896],
          [-71.45035969],
          [-54.01399731]],

         [[ 41.93045363],
          [ 42.3928151 ],
          [ 40.00542943],
          ...,
          [ 23.84945266],
          [ 23.1959225 ],
          [ 21.51541639]],

         [[-39.92975559],
          [-28.53521281],
          [-18.92342916],
          ...,
          [ 27.3127179 ],
          [ 22.71133211],
          [ 13.43298222]],

         ...,

         [[  5.41429826],
          [  3.70627653],
          [  2.11212292],
          ...,
          [  9.52620242],
          [  8.86829775],
          [  8.04591692]],

         [[  2.02355883],
          [  5.03473787],
          [  7.3374042 ],
          ...,
          [  4.90821775],
          [  7.35005622],
          [  9.45029034]],

         [[  6.97049583],
          [  5.5534704 ],
          [  3.83279666],
          ...,
          [ -4.3404036 ],
          [ -5.83334111],
          [ -7.4021907 ]]]),
  'EDA': array([[[ 5452.45036511],
          [ 5366.84684757],
          [ 5264.12262651],
          [ 5115.74616534]],

         [[ 5264.12262651],
          [ 5115.74616534],
          [ 5127.15699843],
          [ 5013.02194429]],

         [[ 5127.15699843],
          [ 5013.02194429],
          [ 5372.55671799],
          [ 5235.59108991]],

         ...,

         [[-1141.51599081],
          [-1141.51599081],
          [-1136.58907948],
          [-1151.36596433]],

         [[-1136.58907948],
          [-1151.36596433],
          [-1141.51599081],
          [-1141.51599081]],

         [[-1141.51599081],
          [-1141.51599081],
          [-1136.58907948],
          [-1151.36596433]]]),
  'TEMP': array([[[ 10279.72209064],
          [ 10279.72209064],
          [ 10279.72209064],
          [ 10279.72209064]],

         [[ 10279.72209064],
          [ 10279.72209064],
          [ 10279.72209064],
          [ 10279.72209064]],

         [[ 10279.72209064],
          [ 10279.72209064],
          [ 10279.72209064],
          [ 10279.72209064]],

         ...,

         [[-11802.68311157],
          [-11802.68311157],
          [-11802.68311157],
          [-11802.68311157]],

         [[-11802.68311157],
          [-11802.68311157],
          [-11802.68311157],
          [-11412.91762831]],

         [[-11802.68311157],
          [-11412.91762831],
          [-11412.91762831],
          [-11412.91762831]]])},
 'labels': array([0., 0., 0., ..., 0., 0., 0.]),
 'id': array(['2', '2', '2', ..., '17', '17', '17'], dtype='<U32')}

In [26]:
keys = data.keys()
keys

dict_keys(['data', 'labels', 'id'])

In [27]:
keys1 = data["data"].keys()
keys1

dict_keys(['ACC', 'BVP', 'EDA', 'TEMP'])

In [29]:
data['data']['ACC']

array([[[  126.32624263, -1012.3755119 ,  1296.16359523],
        [  233.10128359,  -738.13483315,   636.76661552],
        [  411.0596852 ,  -738.13483315,  1024.64719182],
        ...,
        [  138.19013607,  -772.414918  ,  1024.64719182],
        [   78.87066887,  -772.414918  ,  1024.64719182],
        [   67.00677543,  -601.01449378,  1218.58747997]],

       [[   90.73456231,  -669.57466347,   636.76661552],
        [   78.87066887,  -635.29457863,   636.76661552],
        [  114.46234919,  -601.01449378,   753.13078841],
        ...,
        [  -16.04047865,  -635.29457863,  1179.79942234],
        [  -16.04047865,  -601.01449378,  1141.01136471],
        [  -27.90437209,  -635.29457863,  1218.58747997]],

       [[  -27.90437209,  -498.17423926,  1218.58747997],
        [  -63.49605241,  -498.17423926,  1179.79942234],
        [  -27.90437209,  -498.17423926,  1102.22330708],
        ...,
        [  -27.90437209,  -669.57466347,  1218.58747997],
        [  -27.90437209,  -635.29457863,  1218.58747997],
        [  -27.90437209,  -635.29457863,  1218.58747997]],

       ...,

       [[   57.65252751,   918.94055149,   887.25155116],
        [   57.65252751,   918.94055149,   887.25155116],
        [   57.65252751,   918.94055149,   887.25155116],
        ...,
        [   57.65252751,   918.94055149,   887.25155116],
        [   57.65252751,   918.94055149,   887.25155116],
        [   57.65252751,   918.94055149,   887.25155116]],

       [[   57.65252751,   918.94055149,   887.25155116],
        [   57.65252751,   918.94055149,   887.25155116],
        [   57.65252751,   918.94055149,   887.25155116],
        ...,
        [   57.65252751,   918.94055149,   887.25155116],
        [   57.65252751,   918.94055149,   887.25155116],
        [   57.65252751,   918.94055149,   887.25155116]],

       [[   57.65252751,   918.94055149,   887.25155116],
        [   57.65252751,   918.94055149,   887.25155116],
        [   57.65252751,   918.94055149,   887.25155116],
        ...,
        [   57.65252751,   918.94055149,   887.25155116],
        [   57.65252751,   918.94055149,   887.25155116],
        [   57.65252751,   918.94055149,   887.25155116]]])

In [18]:
ACC = data['data']['ACC']
BVP = data['data']['BVP']
EDA = data['data']['EDA']


labels = data['labels']
id = data['id']

In [19]:
len(id),len(labels),len(ACC),len(EDA),len(BVP)

(78766, 78766, 78766, 78766, 78766)

In [47]:
import pandas as pd

# Extract 'TEMP', 'EDA', 'BVP', 'ACC', 'labels', and 'id' from the data dictionary
TEMP = data['data']['TEMP']
EDA = data['data']['EDA']
BVP = data['data']['BVP']
ACC = data['data']['ACC']
labels = data['labels']
id = data['id']

# Find the minimum length among 'ids', 'TEMP', 'EDA', 'BVP', and 'ACC'
min_length = min(len(id), len(TEMP), len(EDA), len(BVP), len(ACC), len(labels))

# Truncate arrays to the minimum length
id = id[:min_length]
TEMP = TEMP[:min_length]
EDA = EDA[:min_length]
BVP = BVP[:min_length]
ACC = ACC[:min_length]
labels = labels[:min_length]

# Create lists to store every 4th value from TEMP and all values from EDA, BVP, and ACC
temp_values = []
eda_values = []
bvp_values = []
acc_values = []

# Iterate through each row of the arrays
for temp_row, eda_row, bvp_row, acc_row in zip(TEMP, EDA, BVP, ACC):
    # Take every 4th value from each row of TEMP and add it to the list
    temp_values.extend(temp_row[::4])
    # Take every value from each row of EDA, BVP, and ACC and add it to the respective lists
    eda_values.extend(eda_row[::4])
    bvp_values.extend(bvp_row.flatten())
    acc_values.extend(acc_row)

# Truncate the BVP array to match the length of 'temp_values', 'eda_values', and 'acc_values'
bvp_values = bvp_values[:len(temp_values)]
acc_values = acc_values[:len(temp_values)]

# Create a DataFrame using 'TEMP', 'EDA', 'BVP', 'ACC', 'labels', and 'id', removing the square brackets from 'TEMP'
df = pd.DataFrame({
    'id': id,
    'TEMP': [value[0] for value in temp_values],  # Extracting the value from the list
    'EDA': [value[0] for value in eda_values],  # Extracting the value from the list
    'BVP': bvp_values,
    'ACC': acc_values,
    'labels': labels
})

In [48]:
df

,id,TEMP,EDA,BVP,ACC,labels
0,2,10279.722091,5452.450365,13.570802,"[126.32624263187509, -1012.3755118966363, 1296...",0.0
1,2,10279.722091,5264.122627,13.144006,"[233.1012835943145, -738.134833154995, 636.766...",0.0
2,2,10279.722091,5127.156998,13.032862,"[411.05968519838024, -738.134833154995, 1024.6...",0.0
3,2,10279.722091,5372.556718,12.975067,"[304.2846442359408, -909.5352573685209, 1024.6...",0.0
4,2,10464.748540,5184.228979,12.855030,"[150.05402951241717, -738.134833154995, 714.34...",0.0
...,...,...,...,...,...,...
78761,17,-11412.917628,-1141.515991,8.311440,"[-312.6378146581537, -1903.657717806971, 93.73...",0.0
78762,17,-11802.683112,-1146.439053,7.671247,"[-324.50170809842473, -1869.3776329642658, 54....",0.0
78763,17,-11802.683112,-1141.515991,7.262235,"[-312.6378146581537, -1903.657717806971, 54.94...",0.0
78764,17,-11802.683112,-1136.589079,7.231114,"[-300.7739212178826, -1903.657717806971, 93.73...",0.0
78765,17,-11802.683112,-1141.515991,7.586777,"[-300.7739212178826, -1937.9378026496763, 93.7...",0.0

In [49]:
df["ACC"]

0        [126.32624263187509, -1012.3755118966363, 1296...
1        [233.1012835943145, -738.134833154995, 636.766...
2        [411.05968519838024, -738.134833154995, 1024.6...
3        [304.2846442359408, -909.5352573685209, 1024.6...
4        [150.05402951241717, -738.134833154995, 714.34...
                               ...
78761    [-312.6378146581537, -1903.657717806971, 93.73...
78762    [-324.50170809842473, -1869.3776329642658, 54....
78763    [-312.6378146581537, -1903.657717806971, 54.94...
78764    [-300.7739212178826, -1903.657717806971, 93.73...
78765    [-300.7739212178826, -1937.9378026496763, 93.7...
Name: ACC, Length: 78766, dtype: object

In [41]:
acc_row[0]

array([ 57.65252751, 918.94055149, 887.25155116])

In [42]:
acc_row[1]

array([ 57.65252751, 918.94055149, 887.25155116])

In [43]:
len(acc_row[0])

3

In [57]:
ACC_df = df['ACC']
ACC_df

0        [126.32624263187509, -1012.3755118966363, 1296...
1        [233.1012835943145, -738.134833154995, 636.766...
2        [411.05968519838024, -738.134833154995, 1024.6...
3        [304.2846442359408, -909.5352573685209, 1024.6...
4        [150.05402951241717, -738.134833154995, 714.34...
                               ...
78761    [-312.6378146581537, -1903.657717806971, 93.73...
78762    [-324.50170809842473, -1869.3776329642658, 54....
78763    [-312.6378146581537, -1903.657717806971, 54.94...
78764    [-300.7739212178826, -1903.657717806971, 93.73...
78765    [-300.7739212178826, -1937.9378026496763, 93.7...
Name: ACC, Length: 78766, dtype: object

In [59]:
# Remove square brackets from the column
ACC_df["ACC1"] = df['ACC'].apply(lambda x: x[0])
ACC_df["ACC2"] = df['ACC'].apply(lambda x: x[1])
ACC_df["ACC3"] = df['ACC'].apply(lambda x: x[2])

C:\Users\admin\AppData\Local\Temp\ipykernel_12036\3329585262.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ACC_df["ACC1"] = df['ACC'].apply(lambda x: x[0])

In [63]:
# Remove square brackets from the column
ACC_df = df.copy()  # Create a copy of the DataFrame
ACC_df["ACC1"] = ACC_df['ACC'].apply(lambda x: x[0])
ACC_df["ACC2"] = ACC_df['ACC'].apply(lambda x: x[1])
ACC_df["ACC3"] = ACC_df['ACC'].apply(lambda x: x[2])

ACC_df.drop(columns=['ACC'], inplace=True)

In [64]:
ACC_df

,id,TEMP,EDA,BVP,labels,ACC1,ACC2,ACC3
0,2,10279.722091,5452.450365,13.570802,0.0,126.326243,-1012.375512,1296.163595
1,2,10279.722091,5264.122627,13.144006,0.0,233.101284,-738.134833,636.766616
2,2,10279.722091,5127.156998,13.032862,0.0,411.059685,-738.134833,1024.647192
3,2,10279.722091,5372.556718,12.975067,0.0,304.284644,-909.535257,1024.647192
4,2,10464.748540,5184.228979,12.855030,0.0,150.054030,-738.134833,714.342731
...,...,...,...,...,...,...,...,...
78761,17,-11412.917628,-1141.515991,8.311440,0.0,-312.637815,-1903.657718,93.733809
78762,17,-11802.683112,-1146.439053,7.671247,0.0,-324.501708,-1869.377633,54.945751
78763,17,-11802.683112,-1141.515991,7.262235,0.0,-312.637815,-1903.657718,54.945751
78764,17,-11802.683112,-1136.589079,7.231114,0.0,-300.773921,-1903.657718,93.733809
78765,17,-11802.683112,-1141.515991,7.586777,0.0,-300.773921,-1937.937803,93.733809

In [68]:
import pandas as pd

# Extract 'TEMP', 'EDA', 'BVP', 'ACC', 'labels', and 'id' from the data dictionary
TEMP = data['data']['TEMP']
EDA = data['data']['EDA']
BVP = data['data']['BVP']
ACC = data['data']['ACC']
labels = data['labels']
id = data['id']

# Find the minimum length among 'ids', 'TEMP', 'EDA', 'BVP', and 'ACC'
min_length = min(len(id), len(TEMP), len(EDA), len(BVP), len(ACC), len(labels))

# Truncate arrays to the minimum length
id = id[:min_length]
TEMP = TEMP[:min_length]
EDA = EDA[:min_length]
BVP = BVP[:min_length]
ACC = ACC[:min_length]
labels = labels[:min_length]

# Create lists to store every 4th value from TEMP and all values from EDA, BVP, and ACC
temp_values = []
eda_values = []
bvp_values = []
acc_values = []

# Iterate through each row of the arrays
for temp_row, eda_row, bvp_row, acc_row in zip(TEMP, EDA, BVP, ACC):
    # Take every 4th value from each row of TEMP and add it to the list
    temp_values.extend(temp_row[::4])
    # Take every value from each row of EDA, BVP, and ACC and add it to the respective lists
    eda_values.extend(eda_row[::4])
    bvp_values.extend(bvp_row.flatten())
    acc_values.extend(acc_row)

# Truncate the BVP array to match the length of 'temp_values', 'eda_values', and 'acc_values'
bvp_values = bvp_values[:len(temp_values)]
acc_values = acc_values[:len(temp_values)]

# Create a DataFrame using 'TEMP', 'EDA', 'BVP', 'ACC', 'labels', and 'id', removing the square brackets from 'TEMP'
df = pd.DataFrame({
    'id': id,
    'TEMP': [value[0] for value in temp_values],  # Extracting the value from the list
    'EDA': [value[0] for value in eda_values],  # Extracting the value from the list
    'BVP': bvp_values,
    'ACC': acc_values,
    'labels': labels
})

df["ACC1"] = df['ACC'].apply(lambda x: x[0])
df["ACC2"] = df['ACC'].apply(lambda x: x[1])
df["ACC3"] = df['ACC'].apply(lambda x: x[2])

df.drop(columns=['ACC'], inplace=True)

In [69]:
df

,id,TEMP,EDA,BVP,labels,ACC1,ACC2,ACC3
0,2,10279.722091,5452.450365,13.570802,0.0,126.326243,-1012.375512,1296.163595
1,2,10279.722091,5264.122627,13.144006,0.0,233.101284,-738.134833,636.766616
2,2,10279.722091,5127.156998,13.032862,0.0,411.059685,-738.134833,1024.647192
3,2,10279.722091,5372.556718,12.975067,0.0,304.284644,-909.535257,1024.647192
4,2,10464.748540,5184.228979,12.855030,0.0,150.054030,-738.134833,714.342731
...,...,...,...,...,...,...,...,...
78761,17,-11412.917628,-1141.515991,8.311440,0.0,-312.637815,-1903.657718,93.733809
78762,17,-11802.683112,-1146.439053,7.671247,0.0,-324.501708,-1869.377633,54.945751
78763,17,-11802.683112,-1141.515991,7.262235,0.0,-312.637815,-1903.657718,54.945751
78764,17,-11802.683112,-1136.589079,7.231114,0.0,-300.773921,-1903.657718,93.733809
78765,17,-11802.683112,-1141.515991,7.586777,0.0,-300.773921,-1937.937803,93.733809

In [70]:
df.to_csv('WESAD_All.csv', index=False)